<h1>New Game</h1>

<div id="game">
  <div id="row1" class="clearfix">
    <div id="sq0" class="square"><p></p></div>
    <div id="sq1" class="square"></div>
    <div id="sq2" class="square"></div>
  </div>

  <div id="row2" class="clearfix">
    <div id="sq3" class="square"></div>
    <div id="sq4" class="square"></div>
    <div id="sq5" class="square"></div>
  </div>

  <div id="row3" class="clearfix">
    <div id="sq6" class="square"></div>
    <div id="sq7" class="square"></div>
    <div id="sq8" class="square"></div>
  </div>

  <div id="winner_text" class="clearfix"><p></p></div>
</div>
