#game {
  width: 360px;
  margin: 0 auto;
}

.square {
  background-color: #eee;
  width: 100px;
  height: 100px;
  float: left;
  margin: 10px;
  cursor: pointer;
  font-size: 85px;
  text-align: center;
  font-family: Arial, sans-serif;
}

.square p {
}

#row1, #row2, #row3 {
}

#winner_text {
  text-align: center;
  font-size: 2em;
  font-weight: bold;
  height: 40px;
  padding: 10px;
}

#winner_text p {
  margin: 0;
}